.stage {
	display:        flex;
	flex-direction: column;
	flex:           1;

	background:     white;
	border:         1px solid black;

	margin-left:    1em;
	margin-right:   1em;

	cursor:         crosshair;
	user-select:    none;

	overflow:       hidden;
}

.stage iframe {
	flex: 1;
	border: none;
}
