.stage {
	display:        flex;
	flex-direction: column;
	flex:           1;

	background:     white;
	border:         1px solid black;

	margin-left:    1em;
	margin-right:   1em;
}

[data-metastate~="hover"] {
	outline: 4px solid rgba(0,0,0,0.3);
}


[data-metastate~="click"] {
	outline: 4px solid rgba(0,0,0,1);
}