* {
	margin:  0px;
	padding: 0px;
}

html, body {
	height: 100%;
}

html {
	background: #DDD;
}

body {
	
}

.complect {
	display:        flex;
	height:         100%;
	flex-direction: column;
}

.complect > .header,
.complect > .footer {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.complect > .body{
	flex:     1;
	position: relative;
	
}

.complect > .footer{
}


[data-state~="inactive"] {
	opacity: 0.5;
}
