* {
	margin:      0px;
	padding:     0px;
	-webkit-text-size-adjust: none
}

html, body {
	height: 100%;
}

html {
	background: #AAA;
}

body {
	
}

.complect {
	display:        flex;
	height:         100%;
	flex-direction: column;
}

.complect > .header,
.complect > .footer {
	padding-left:   1em;
	padding-right:  1em;
	padding-top:    0.5em;
	padding-bottom: 0.5em;


}

.complect > .body{
	flex:     1;
	position: relative;
	
}

.complect > .footer{
	background: #CCC;
	border: 1px ouset black;
}


[data-state~="inactive"] {
	opacity: 0.5;
}
