* {
	margin:      0px;
	padding:     0px;
	-webkit-text-size-adjust: none
}

html, body {
	height: 100%;
}

html {
	background: #AAA;
}

body {
	
}

.complect {
	display:        flex;
	height:         100%;
	flex-direction: column;
}

.complect > .header,
.complect > .footer {
	padding-left:   1em;
	padding-right:  1em;
	padding-top:    0.5em;
	padding-bottom: 0.5em;


}

.complect > .body{
	flex:     1;
	position: relative;
	
}

.complect > .footer {
	margin-top: 1em;
	background: #CCC;
	border-top: 1px solid #000;
	display: flex;
	justify-content: space-between;
}

.complect > .footer > .left,
.complect > .footer > .right {
	display: flex;
}

.complect > .footer .field {
	border:           1px inset #888;	
	background-color: #DDD;

	font-family:      'courier new';
	font-family:      'anonymous pro', monospace;

	padding:          0px;
}

.complect > .footer .field input,
.complect > .footer .field select,
.complect > .footer .field > p {
	padding:          0.25em;
	padding-left:     0.75em;
	padding-right:    0.75em;
}

.complect > .footer .field select {
	height: 100%;
	border: none;
}

.complect > .footer > .left .field:not(:last-child),
.complect > .footer > .right .field:not(:last-child) {
	margin-right: 1em;
}

.complect > .footer {

}


[data-state~="inactive"] {
	opacity: 0.5;
}
