.triptych {
	display:         flex;
	flex:            1;
	justify-content: space-between;
	
	position: absolute;
	top:      0px;
	left:     0px;
	right:    0px;
	bottom:   0px;
}

/*.triptych > .content,*/
.triptych > .center {
	display:        flex;
	flex-direction: column;
	flex:           1;
}

.triptych > .content {
	overflow-y: auto;
}

.triptych > .content::-webkit-scrollbar { 
	display: none; 
} 

.triptych .column{
	font-family: 'courier new';
	font-family: 'anonymous pro', monospace;
}

.triptych .column .entry {
	position: relative;
}

.triptych .column .entry-titlebar,
.triptych .column .entry label > span:not(:empty),
.triptych .column .entry p,
.triptych .column .entry input,
.triptych .column .entry fieldset,
.triptych .column .entry select,
.triptych .column .entry input {
	padding:   0.5em;
	font-family: 'anonymous pro', monospace;
}

.triptych .column .entry select {
	padding: 0px;
}

.triptych .column .entry fieldset:first-child {
	padding-top: 0px;
}

.triptych .column .entry fieldset:last-child {
	padding-bottom: 0px;
}

.triptych .column .entry form > label:last-child:not([data-type="select"]) {
	margin-bottom: 0.5em;
}

.triptych .column .entry select option {
	padding:        0.5em;
}

.triptych .column .entry fieldset,
.triptych .column .entry select,
.triptych .column .entry input:not([type]),
.triptych .column .entry input[type="text"] {
	border-style: inset;
}

.triptych .column .entry input[type="button"] {
	font-weight: 700;
	height: 1.25em;
	display: flex;
}

.triptych .column .entry input[type="text"] {
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.triptych .column .entry-content select {
	overflow: hidden;
}

.triptych .column .entry-content label[data-type="checkbox"] {
	padding: 1em;
}

.triptych .column .entry-titlebar {
	position:    sticky;
	top:         0px;
	cursor:      pointer;
	user-select: none;
	font-weight: bold;
}

.triptych .column {
	transition: 0.2s width ease-out;
	/*font-size:  0.8em;*/
}

.triptych .entry-toggle {
	text-align:  center;
}

.triptych .column.collapsed {
	width: 2em;
}

.triptych .column.expanded {
	width: 18em;
}

.triptych .column .entry {
	border:        1px solid black;
	margin-bottom: 1px;
}

.triptych .column .entry > .entry-titlebar {
	display:         flex;
	flex-direction:  row;
	justify-content: flex-end;

	background-color: #000;
	color:            #FFF;
}

.triptych .column .entry > .entry-toolbar,
.triptych .column .entry > .entry-toolbar span{
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

.triptych .column .entry > .entry-toolbar {
	background-color: #999;
}

.triptych .column .entry > .entry-toolbar input,
.triptych .column .entry > .entry-toolbar select {
	flex: 1;
}

.triptych .column .entry.collapsed > .entry-toolbar,
.triptych .column.expanded .entry.collapsed > .entry-content {
	display: none;
}

.triptych .column.expanded .entry.expanded > .entry-content:not(:empty) {
	/*border-bottom: 1px solid black;*/
}

.triptych .column.expanded .entry:not(:last-child) {
	border-bottom: none;
}

.triptych .column.expanded .entry-title {
	flex: 1;
	display:     flex;
	flex-direction: row;
	align-items: center;
}

.triptych .column.expanded .entry-title img {
	width: 24px;
	image-rendering: pixelated;
	margin-right: 0.5em;
}

.triptych .column.expanded .entry-content {
	background: #CCC;
}

.triptych .column.collapsed .entry-title,
.triptych .column.collapsed .entry-content,
.triptych .column.collapsed .entry:not(:first-child) {
	display: none;
}


.triptych .column .entry form {
	display:        flex;
	flex-direction: column;
}

.triptych .column .entry label,
.triptych .column .entry input {
	display: block;
	box-sizing: content-box;
}

.triptych .column .entry form > label:not(:first-child):not(:last-child),
.triptych .column .entry form > fieldset {
	margin-top: 0.33em;
	margin-bottom: 0.33em;
}

.triptych .column .entry input,
.triptych .column .entry button {
	padding:   0.333em;
	/*font-size: 0.8em;*/
}

.triptych .column .entry select[multiple] {
	/*overflow: auto;*/
}

.triptych .column .entry label {
	display:        flex;
	flex-direction: column;
}

.triptych .column .entry input {
	/*width: 100%;*/
}

.triptych .column .entry-toolbar button {
	width: 2.25em;
}

.triptych .column .entry-toolbar input {
	width: auto;
	display: inline;
	margin-bottom: 0px;
}

.triptych .column fieldset[id$="-buttons"] {
	display: block;
	border: none;
}

.triptych .column fieldset[id$="-buttons"] label {
	/*display: inline;*/
	float: right;
}

.triptych .column fieldset[id$="-buttons"] label input {
	/*width: 25%;*/
	/*display: block;*/
}