.stator > form {
	display:        flex;
	flex-direction: column;
}

.stator > form > label {
	display:         flex !important;
	flex-direction:  row-reverse !important;
	justify-content: flex-end;
	align-items:     center;
	cursor:          pointer;
	user-select:     none;
}

.stator > form > label > input {
	margin-right: 0.5em;
	/*zoom: 1.5;*/
	width: auto !important;
	display: inline !important;
}